input {
  # server logs
  file {
    type => "weblogic"
    # /ramdisk/logs/weblogic/HOSTIP/*.log
    path => [ "/ramdisk/logs/weblogic/*/*.log" ]
    start_position => beginning
    codec => multiline {
      pattern => "^####"
      negate => true
      what => "previous"
    }
  }
}

filter {
  if [type]=="weblogic" {
    grok {
      patterns_dir => "{{ logstash_pattern_path }}"
      match => ["message", "%{WLS_SRV_LOG}"]
    }
    date {
      match => ["wlsTimestamp", "MMM d, yyyy H:mm:ss aa zzz"]
    }
  }
  grok {
    patterns_dir => "{{ logstash_pattern_path }}"
    match => ["path", "%{IPV4:hostIp}"]
  }
}

output {
  if [type]=="weblogic" {
    elasticsearch {
      host => localhost
      cluster =>  "{{ elastic_cluster }}"
      index => "logstash-wls-%{+YYYY.MM.dd}"
    }
  } else if [type]=="tuxedo" {
    elasticsearch {
      host => localhost
      cluster =>  "{{ elastic_cluster }}"
      index => "logstash-tux-%{+YYYY.MM.dd}"
    }
  } else {
    stdout {
      codec => "json"
    }
  }
}
