input {
  # server logs
  file {
    type => "weblogic"
    # /ramdisk/logs/weblogic/HOSTIP/*.log*
    path => [ "/ramdisk/logs/weblogic/*.log", "/ramdisk/logs/weblogic/*/*.log", "/ramdisk/logs/weblogic/*/*.log*" ]
    start_position => beginning
    codec => multiline {
      pattern => "^####"
      negate => true
      what => "previous"
    }
  }
}

filter {
  if [type]=="weblogic" {
    grok {
      patterns_dir => "{{ logstash_pattern_path }}"
      match => ["message", "%{WLS_SRV_LOG}"]
    }
    mutate {
      gsub => ["wlsTimestamp", "CST$", "+0800"]
    }
    date {
      match => ["wlsTimestamp", "MMM d, yyyy h:mm:ss a Z"]
    }
  }
  grok {
    patterns_dir => "{{ logstash_pattern_path }}"
    match => ["path", "%{IPV4:hostIp}"]
  }
}

output {
  if [type]=="weblogic" {
    elasticsearch {
      host => localhost
      cluster =>  "{{ elastic_cluster }}"
      index => "logstash-wls-%{+YYYY.MM.dd}"
      flush_size => 100
      template => "/home/{{ elk_user }}/logstash-wls.json"
      template_name => "logstash-wls"
    }
  } else if [type]=="tuxedo" {
    elasticsearch {
      host => localhost
      cluster =>  "{{ elastic_cluster }}"
      index => "logstash-tux-%{+YYYY.MM.dd}"
    }
  } else {
    stdout {
      codec => "json"
    }
  }
}
