#! /bin/sh -x

/home/{{ elk_user }}/stopELK.sh

export ES_HEAP_SIZE=2g
cd {{ elastic_home }}
nohup ./bin/elasticsearch > nohup.txt 2>&1 &

sleep 10
cd {{ kibana_home}}
nohup ./bin/kibana > nohup.txt 2>&1 &
